@use "./variables" as *;

.post {
  color: white;
  text-align: center;
  padding: 0 4rem;
}

.title {
  position: relative;
  font-size: 2.5rem;
}

.btn {
  margin-left: 4rem;
  outline: none;
  border-radius: 0.2rem;
  border: 2px solid white;
  background-color: rgb(22, 17, 17);
  color: white;
  padding: 0.3rem;

  &:hover {
    color: rgb(22, 17, 17);
    background-color: white;
    border-color: black;
    cursor: pointer;
  }
}
