@use "./variables" as *;

.wrapper {
  color: white;
  text-align: center;
  padding: 0 2rem;
  margin: 1rem 0;
}

.heading {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.post-item {
  display: inline-block;
  width: max-content;
  color: white;
  text-decoration: none;
  &:hover {
    color: $text-d;
    cursor: pointer;
  }
}

.post-title {
  font-weight: bold;
}

.post-date {
  margin: 0.2rem 0;
  font-size: 0.7rem;
}

.button-style {
  button {
    margin-left: 4rem;
    outline: none;
    border-radius: 0.2rem;
    border: 2px solid white;
    background-color: rgb(22, 17, 17);
    color: white;
    padding: 0.3rem;
    font-weight: bold;

    &:hover {
      color: rgb(22, 17, 17);
      background-color: white;
      border-color: black;
      cursor: pointer;
    }
  }
}

@media (max-width: 610px) {
  .heading {
    font-size: 2rem;
  }

  .button-style {
    text-align: center;
    button {
      margin: 0.3rem 0;
      padding: 0.5rem;
    }
  }
}
