@use "./variables" as *;

.wrapper {
  color: white;
  text-align: center;
  padding: 0 2rem;
  margin: 1rem 0;
}

.heading {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.post-item {
  display: inline-block;
  width: max-content;
  color: white;
  text-decoration: none;
  &:hover {
    color: $text-d;
    cursor: pointer;
    text-decoration: underline;
  }
}

.post-title {
  font-weight: bold;
}

.post-date {
  margin: 0.2rem 0;
  font-size: 0.7rem;
}

@media (max-width: 610px) {
  .heading {
    font-size: 2rem;
  }

  .post-item {
    &:hover,
    &:active {
      background-color: $bg-dark-l;
    }
  }
}
