@use "./variables" as *;

:root {
  font-size: 25px;
}

html {
  background: linear-gradient(
    to bottom right,
    $bg-dark-d,
    $bg-dark-d,
    $bg-dark-l
  );
  height: 100vh;
  user-select: none;
}
