---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import desk from "../static/desk.svg";
import growth from "../static/growth.svg";
import skills from "../static/skills.svg";
import worklife from "../static/work-life.svg";
---

<Layout title="Welcome to the Paradise.">
  <div class="flex justify-evenly items-center">
    <div
      class="my-auto font-bold bg-teal-600 p-8 space-y-4 rounded shadow-md shadow-teal-700"
    >
      <h1 class="text-5xl">Hi 👋</h1>
      <h2 class="text-4xl">I am Krish Garg.</h2>
      <h3 class="text-3xl">I am a keen learner and a student.</h3>
      <div>[Can add buttons to places here]</div>
    </div>
    <img
      src={desk}
      alt="Sitting on Desk"
      class="special-hidden md:block w-[30rem]"
    />
  </div>
  <div class="flex flex-wrap mt-8 justify-evenly gap-8">
    <Card alt="growth" image={growth} title="Growth">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet laborum
      laboriosam magni. Similique quae voluptatibus ullam labore mollitia,
      officiis, repudiandae itaque modi quo assumenda culpa a nihil vitae,
      tempora laboriosam harum.
    </Card>
    <Card alt="skills" image={skills} title="Skills">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet laborum
      laboriosam magni. Similique quae voluptatibus ullam labore mollitia,
      officiis, repudiandae itaque modi quo assumenda culpa a nihil vitae,
      tempora laboriosam harum.
    </Card>
    <Card alt="life" image={worklife} title="Life">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet laborum
      laboriosam magni. Similique quae voluptatibus ullam labore mollitia,
      officiis, repudiandae itaque modi quo assumenda culpa a nihil vitae,
      tempora laboriosam harum.
    </Card>
  </div>
</Layout>
