---
export interface Props {
  image: string;
  alt: string;
  title: string;
}

const { image, alt, title } = Astro.props;
---

<div
  class="flex flex-col min-w-[80vw] md:min-w-0 md:max-w-lg bg-teal-600 p-6 rounded align-middle"
>
  <div>
    <img src={image} alt={alt} class="block m-[-0.8rem]" />
  </div>
  <div>
    <h1 class="text-4xl text-center mb-4">{title}</h1>
    <p class="text-lg px-2"><slot /></p>
  </div>
</div>
