<div class="select-none">
  <a href="/"> </a><a class="divide-y flex flex-col items-center m-2">
    <div class="font-medium text-3xl">Krish</div>
    <div class="text-3xl stroked">Garg</div>
  </a>
</div>
